{% include 'header.twig' %}

    <div class="row">
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="imputLogin">Логин</label>
                    <input type="text" class="form-control" id="imputLogin" name="login" placeholder="Логин" value="{{ login }}">
                    {% if error['error_login'] %}
                    <div>{{ error['error_login'] }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="imputName">Имя</label>
                    <input type="text" class="form-control" id="imputName" name="name" placeholder="Имя" value="{{ name }}">
                    {% if error['error_name'] %}
                    <div>{{ error['error_name'] }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="inputPassword1">Пароль:</label>
                    <input type="password" class="form-control" id="inputPassword1" name="password1" placeholder="Введите пароль" value="{{ password1 }}">
                    {% if error['error_password'] %}
                    <div>{{ error['error_password'] }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="inputPassword2">Подтвердите пароль:</label>
                    <input type="password" class="form-control" id="inputPassword2" name="password2" placeholder="Подтвердите пароль"  value="{{ password2 }}">
                    {% if error['error_password'] %}
                        <div>{{ error['error_password'] }}</div>
                    {% endif %}
                </div>
                <button type="submit" name="registration" value="1" class="btn btn-default">Зарегистрироваться</button>
            </form>
        </div>
    </div>

{% include 'footer.twig' %}